<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.minimall.mapper.UserMapper">
    <select id="selectByOpenid" resultType="com.example.minimall.model.User">
        SELECT * FROM user WHERE openid = #{openid}
    </select>
    
    <select id="selectByPhone" resultType="com.example.minimall.model.User">
        SELECT * FROM user WHERE phone = #{phone}
    </select>
    
    <select id="selectByUsername" resultType="com.example.minimall.model.User">
        SELECT * FROM user WHERE username = #{username}
    </select>
    
    <select id="selectByRoleId" resultType="com.example.minimall.model.User">
        SELECT u.* FROM user u
        JOIN user_role ur ON u.id = ur.user_id
        WHERE ur.role_id = #{roleId}
    </select>
    
    <select id="selectUserRole" resultType="com.example.minimall.model.Role">
        SELECT r.* FROM role r
        JOIN user_role ur ON r.id = ur.role_id
        WHERE ur.user_id = #{userId}
    </select>
</mapper>