<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.minimall.mapper.ActivityMapper">
    <select id="selectJoinedActivities" resultType="com.example.minimall.model.Activity">
        SELECT a.*
        FROM activity a
        INNER JOIN activity_participant ap ON a.id = ap.activity_id
        WHERE ap.user_id = #{userId}
        ORDER BY a.start_time DESC
    </select>
</mapper>
